.main {
    display: inline-flex;
    flex-direction: row;
    margin-left: 25%;
    margin-top: 2%;
    border: 1px lightgray solid;
    box-shadow: 0 0 10px lightgray;
    border-radius: 10px;
    width: 50%;
    height: 80%;
}

.courseList {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
    /* align-content: flex-; */
    /* margin-left: 20% !important; */
}

.card {
    width: 25%;
    margin-left: 6.25%;
    border-radius: 10px;
    margin-bottom: 25px;
}

.data {
    margin-left: 25px;
    margin-top: 1%;
}

span {
    font-size: 18px;
}



.dp-img {
    height: 120px;
    margin: 15px;
}