.instructorsForm{
    width: 60%;
    margin-left: 100px;
}

.instructorCard{
    width: 40%;
    margin-top: 15px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
